@import 'import/functions.styl'
@import 'import/colors.styl'
@import 'import/design.styl'
@import 'import/plugins.styl'

@import 'import/fonts.styl'

@import 'import/page.styl'
@import 'import/modal.styl'
@import 'import/map.styl'
@import 'import/dropdown.styl'

@import 'import/toolbar.styl'
@import 'import/lang.styl'
@import 'import/nav.styl'
@import 'import/buttons.styl'
@import 'import/gallery.styl'

@import 'import/scroll.styl'

@import 'import/certs.styl'

@import 'import/global.styl'

@import 'import/header.styl'


@import 'import/content.styl'
@import 'import/text.styl'

@import 'import/partners.styl'
@import 'import/licenses.styl'
@import 'import/news.styl'
@import 'import/equipments.styl'

@import 'import/slider.styl'

@import 'import/footer.styl'

@import 'import/sitemap.styl'

@import 'import/params.styl'
@import 'import/table.styl'
