- var activeNav = 0
include includes/header
<body class='page page--about'>

.page__wrap
    include includes/nav
    - var toolbarClass = ' toolbar--black'
    include includes/toolbar
    .page__title О&nbsp;компании
    .page__content.content
        .content__scroll.scroll
            .scroll__wrap
                .scroll__content
                    .text
                        .row
                            .col-xs-12.col-sm-6.col-md-12.col-lg-6
                                p Акционерное Общество «Взрывгеосервис» - современное высокотехнологичное и наукоемкое предприятие. Производство АО «Взрывгеосервис» расположено в городе Нефтекамске и в городе Стерлитамаке. 
                                p На предприятии трудится более 50 высококвалифицированных специалистов, 65% из которых имеет высшее образование. Средний возраст сотрудников около 34 лет. Руководство предприятия постоянно совершенствует уровень профессиональной подготовки кадров и стимулирует инновационные проекты. Многие сотрудники, занятые в разработке и производстве сложных инженерных систем, неоднократно проходили обучение за рубежом на ведущих предприятиях отрасли.
                            .col-xs-12.col-sm-6.col-md-12.col-lg-6
                                img.text__image.text__image--right(src='/layout/images/bg.about.jpg')
                                p.text__blockquote.l-margin-top-lg
                                    | Материально-техническая и производственная база предприятия представлена широким спектром оборудования, как правило, не имеющего аналогов в Российской Федерации. 
                        p Большинство станков, на которых изготавливается продукция, являются программно управляемыми, что значительно повышает как качество, так и скорость изготовления деталей. В подавляющем большинстве технологических процессов производства доля ручного труда сведена к минимуму.
                        p Несмотря на то, что с начала работы предприятия прошло немногим более 8 лет, за это время коллективу удалось достичь значительных результатов в качестве выпускаемой продукции. Все выпускаемые на предприятии изделия (в том числе содержащие взрывчатые материалы) подвергаются инструментальному контролю качества на протяжении всего процесса их изготовления, что полностью исключает поступление некачественной продукции заказчикам. Сырье, используемое для производства, проходит жесткий входной контроль на соответствие необходимым техническим и эксплуатационным характеристикам.
        //.content__footer
.page__bg
include includes/footer
