include includes/header
<body class='page page--index'>
- var showClose = true

.page__wrap
    include includes/toolbar
    .page__content
        - var navType = 'index'
        include includes/nav
        h1.page__title
            | взрывгеосервис
        h4.page__sub-title
            | Эксперт в производстве перфорационных систем и&nbsp;прострелочно-взрывного оборудования
    .buttons.buttons--small
        a.buttons__item(href='/production-list.html') 
            span.buttons__text Перфорационные<br/>системы ORION
        a.buttons__item(href='/production-list.html') 
            span.buttons__text Головки<br/>стреляющие ORION
        a.buttons__item(href='/production-list.html') 
            span.buttons__text Вспомогательное<br/>оборудование
        a.buttons__item(href='/production-list.html') 
            span.buttons__text Заплаты X-Span
    .certs
        .certs__item.certs__item--api
            include ../../public_html/layout/images/svg/cert-1.svg
        .certs__item.certs__item--iso
            include ../../public_html/layout/images/svg/cert-2.svg
        .certs__item.certs__item--rts
            include ../../public_html/layout/images/svg/cert-3.svg
        .certs__item.certs__item--eac
            include ../../public_html/layout/images/svg/cert-4.svg
.page__bg
.page__footer.footer.footer--dark
    .footer__copyright 
        | © 2016 АО “ВГС”
        br
        br
    .footer__address
        | Россия, 452683, Республика Башкортостан, <br/> г. Нефтекамск, ул. Магистральная, д. 19
    .footer__contacts
        a.footer__link(href='mailto:info@vzgs.ru') info@vzgs.ru
        br
        a.footer__link(href='tel:+73478320580') +7 (34783) 2-05-80
    .footer__map
        a.footer__link(href='/sitemap/') Карта сайта
        br
        br
    a.footer__radia.radia(href="http://radia.ru", target="_blank")
        .radia__logo
            include ../../public_html/layout/images/svg/radia.svg
        .radia__text
            | Разработка сайта<br/>RADIA Interactive
