include includes/header
<body class='page page--index'>
- var showClose = true
- var fullWidthFooter = true
- var darkFooter = true

- var showRadia = true
.page__wrap
    include includes/toolbar
    .page__content
        - var navType = 'index'
        include includes/nav
        h1.page__title.page__title--index
            | взрывгеосервис
        h4.page__sub-title
            | Эксперт в производстве перфорационных систем<br/> и&nbsp;прострелочно-взрывного оборудования
    .buttons.buttons--small
        a.buttons__item(href='/production-list.html') 
            span.buttons__text Перфорационные<br/>системы ORION
        a.buttons__item(href='/production-list.html') 
            span.buttons__text Головки<br/>стреляющие ORION
        a.buttons__item(href='/production-list.html') 
            span.buttons__text Вспомогательное<br/>оборудование
        a.buttons__item(href='/production-list.html') 
            span.buttons__text Заплаты X-Span
    .certs
        .certs__item.certs__item--api
            include ../../public_html/layout/images/svg/cert-1.svg
        .certs__item.certs__item--iso
            include ../../public_html/layout/images/svg/cert-2.svg
        .certs__item.certs__item--rts
            include ../../public_html/layout/images/svg/cert-3.svg
        .certs__item.certs__item--eac
            include ../../public_html/layout/images/svg/cert-4.svg
.page__bg
include includes/footer
