- var activeNav = 4
- var showDropdown = true
include includes/header
<body class='page page--news'>

.page__wrap
    - var toolbarClass = ' toolbar--black'
    include includes/toolbar
    include includes/nav
    .page__title пресс-центр
    .page__content.content
        .content__scroll.scroll
            .scroll__wrap
                .scroll__content
                    .news
                        .news__dropdown.dropdown.hidden-lg
                            a.dropdown__trigger 2016
                            .dropdown__frame
                                a.dropdown__item(href='#') 2015
                                a.dropdown__item(href='#') 2014
                                a.dropdown__item(href='#') 2013
                        .text__divider.hidden-lg
                        - var x = 0
                        while x < 3
                            a.news__item(href='/press-detail.html')
                                .news__date 25.03.2016
                                .news__title Акционерное Общество «Взрывгеосервис» - представляет уникальную разработку, не имеющую аналогов на рынке.
                            a.news__item(href='/press-detail.html')
                                .news__date 25.03.2016
                                .news__title Система менеджмента предприятия АО «Взрывгеосервис» проверена независимой экспертной организацией «Bureau Veritas», акредитованный ANAB (ANSI-ASQ National Accreditation Board)
                            a.news__item(href='/press-detail.html')
                                .news__date 25.03.2016
                                .news__title Высокий уровень организации производства позволил компании АО «Взрывгеосервис» первой стать дистрибьютером продукции известной зарубежной фирмы «Owen Oil Tools»
                            - x++
        //.content__footer
.page__bg
include includes/footer
