- var activeNav = 1
- var hideCerts = true
include includes/header
<body class='page page--production  page--production-detail'>

.page__wrap
    
    - var toolbarClass = ' toolbar--black'
    include includes/toolbar
    include includes/nav
    .page__title вспомогательное оборудование
    .page__content.content
        .content__scroll.scroll
            .scroll__wrap
                .scroll__content
                    .text    
                      img.text__image.text__image--small.text__image--right(src="/layout/images/product.jpg", alt="")
                      p Перфораторы кумулятивные ORION (ПК50КЛ ORION, ПК63КЛ ORION, ПК73КЛ ORION, ПК89КЛ ORION, ПК102КЛ ORION, ПК114КЛ ORION) спускаемые на каротажном кабеле или на насосно- компрессорных трубах (НКТ), предназначены для вторичного вскрытия либо реперфорации продуктивных пластов в нефтяных, газовых и других скважинах.
                      p.text__blockquote
                        | Перфораторы ORION отличаются повышенной пробивной способностью, высокой плотностью зарядов при оптимальной фазировке, малым фугасным действием, минимальной трудоемкостью и простотой сборки, наивысшей безопасностью эксплуатации и безотказностью работы.
                      p При снаряжении перфоратора кумулятивными зарядами предусмотрена возможность комбинированного использования зарядов любых типов, то есть, кумулятивные заряды, создающие каналы максимальной протяженности (тип «ГП» DP или «СГП» SDP), могут чередоваться при сборке перфоратора в произвольном порядке с кумулятивными зарядами, создающими каналы с максимально большим входным отверстием (тип «БО» BH).
                      
                          
                        
                                
        .content__footer
            a.file(href='#')
                include ../../public_html/layout/images/svg/file.svg
                span.file__name 
                    span Технические характеристики перфораторов
            a.file(href='#')
                include ../../public_html/layout/images/svg/file.svg
                span.file__name 
                    span технические характеристики кумулятивных зарядов ORION
            a.button.button--small(href='#') фотогалерея
.page__bg

include includes/footer
