- var activeNav = 2
include includes/header
<body class='page page--blank page--services'>
.page__wrap
    include includes/toolbar
    include includes/nav
    .page__content
        h1.page__title Услуги
        .buttons.buttons--margin
            a.buttons__item(href='#') наименование услуги номер один
            a.buttons__item(href='#') наименование услуги номер два
            a.buttons__item(href='#') наименование услуги номер три
            a.buttons__item(href='#') наименование услуги номер четыре
.page__bg
include includes/footer
