.buttons
    min-height: 40px
    display flex
    justify-content: space-around
    margin-right -10px
    margin-left -10px
    &--margin
        margin 25px -10px 100px
    &__item
        flex 1
        color #e3e9ed
        text-transform uppercase
        font-family: 'GothamPro'
        border 10px solid orange
        background-color black
        margin 0 10px

        line-height 1.2
        padding 25px 30px 22px
        display flex
        align-items: center
        font-size 21px
        @media (min-width: scr_lg)
            font-size 23px
        &:hover
            color white
            background-color alpha(black, .4)
    &:not(^[0]--small)
        @extend .page__hide-with-menu
    &--production
        & ^[0]__item
            &:last-of-type
                flex-grow: .45
    &--small
        justify-content: space-around
        max-width: 1024px
        align-items: stretch
        flex-wrap: wrap
        margin-right -7px
        margin-left -7px
        @media (min-width: scr_md)
            flex-wrap: nowrap
        & ^[0]__item
            flex initial
            flex-grow: 1
            justify-content: center
            text-align center
            background-color transparent
            margin 7px
            border 1px solid orange
            font-weight bold
            flex-basis: calc(50% - 14px)
            padding 12px 5px 10px
            font-size 9px
            @media (min-width: scr_xs)
                padding 12px 10px 10px
                font-size 11px
            @media (min-width: scr_sm)
                font-size 13px
                padding 14px 20px 10px
            @media (min-width: scr_md)
                flex-basis: calc(25% - 14px)
            @media (min-width: scr_lg)
                font-size 15px
            &:hover
                color white
                background-color orange
