.content
    display: flex
    flex-direction: column
    justify-content: space-between
    color black
    font-weight 300
    font-size 17px
    background-color white
    z-index: 15
    @extend .page__hide-with-menu-desktop
    @media (min-width: scr_lg)
        width 50%
        top 0
        right 0
        position absolute
        top 0
        height 100%
    &__scroll
        position relative
        flex 1
        @media (min-width: scr_lg)
            border-top: 1px solid #dadada
    &__footer
        width 100%
        padding 25px 0 5px
        min-height: 40px
        display: flex
        justify-content: flex-start
        align-items: flex-start
        flex-flow: column
        border-top 1px solid alpha(orange, .7)
        @media (min-width: 550px)
            flex-flow: row
            justify-content: space-between
        & ~ ^[0]:after
            bottom 80px
        .button
            @media (min-width: 550px)
                margin-left auto
