.contacts
    font-size 13px
    margin-bottom 30px
    margin-top 20px
    @media (min-width: scr_lg) and (max-width: 1270px)
        font-size 12px
    a
        border-line(alpha(orange,.4))
        color orange
    .contact
        position relative
        border-top 1px solid #cbd2d7
        border-bottom 1px solid #cbd2d7

        padding 20px 0 15px
        width: 100%
        span
            flex-basis: 100%
            display: block
            @media (min-width: scr_xs)
                flex-basis: (100/3)%
        &__types, &
            display: flex
            align-items: center
            justify-content: space-between
            @media (max-width: scr_xs)
                justify-content: flex-start
                flex-direction: column
                align-items: flex-start
        &__types
            @media (min-width: scr_xs)
                flex-basis: 30%
                justify-content: flex-start
                flex-direction: column
                align-items: flex-start
            @media (min-width: scr_sm)
                flex-basis: 50%
                span
                    flex-basis: 50%


        &__title
            font-weight 400
            color black
            max-width 90%
        & + .contact
            border-top 0
