.equipments
    display flex
    justify-content: space-between
    flex-wrap: wrap
    margin-right -15px
    margin-left -15px
    &__name
        font-size 14px

    &__item
        margin 0 15px 30px
        flex 1 1 25%
        color #2c3648
        &:hover
            color orange
            & ^[0]__photo:after
                border-color orange
    &__photo
        flex-grow: 1
        width calc(100% - 40px)
        padding-bottom calc(100% - 40px)
        background-position center
        background-repeat no-repeat
        background-size contain
        margin 20px 20px 30px
        position relative
        &:after
            position absolute
            content: ""
            border 1px solid #bec0ca
            size calc(100% + 40px)
            top -20px
            transition: .3s border
            left -20px
