@font-face
    font-family: 'HelveticaNeue'
    font-weight: 100
    font-style: normal
    src: url(/layout/fonts/1.eot)
    src: url(/layout/fonts/1.eot#iefix) format('embedded-opentype'), url(/layout/fonts/1.woff2) format('woff2'), url(/layout/fonts/1.woff) format('woff'), url(/layout/fonts/1.ttf) format('truetype')
@font-face
    font-family: 'HelveticaNeue'
    font-weight: 200
    font-style: normal
    src: url(/layout/fonts/34.eot)
    src: url(/layout/fonts/34.eot#iefix) format('embedded-opentype'), url(/layout/fonts/34.woff2) format('woff2'), url(/layout/fonts/34.woff) format('woff'), url(/layout/fonts/34.ttf) format('truetype')

@font-face
    font-family: 'HelveticaNeue'
    font-weight: 300
    font-style: normal
    src: url(/layout/fonts/3.eot)
    src: url(/layout/fonts/3.eot#iefix) format('embedded-opentype'), url(/layout/fonts/3.woff2) format('woff2'), url(/layout/fonts/3.woff) format('woff'), url(/layout/fonts/3.ttf) format('truetype')

@font-face
    font-family: 'HelveticaNeue'
    font-weight: normal
    font-style: normal
    src: url(/layout/fonts/4.eot)
    src: url(/layout/fonts/4.eot#iefix) format('embedded-opentype'), url(/layout/fonts/4.woff2) format('woff2'), url(/layout/fonts/4.woff) format('woff'), url(/layout/fonts/4.ttf) format('truetype')

@font-face
	font-family 'GothamPro'
	src url("/layout/fonts/GothamPro.otf")
	src local(''), url('/layout/fonts/GothamPro.otf') format('opentype'), url('/layout/fonts/GothamPro.woff') format('woff')
	font-weight normal

@font-face
	font-family 'GothamPro'
	src url("/layout/fonts/GothamPro-Bold.otf")
	src local(''), url('/layout/fonts/GothamPro-Bold.otf') format('opentype'), url('/layout/fonts/GothamPro-Bold.woff') format('woff')
	font-weight bold

@font-face
	font-family 'GothamPro'
	src url("/layout/fonts/GothamPro-Black.otf")
	src local(''), url('/layout/fonts/GothamPro-Black.otf') format('opentype'), url('/layout/fonts/GothamPro-Black.woff') format('woff')
	font-weight 900
