html, body
	height 100%
body
	font-family 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif
	min-height 100%
	color white
	background black
	font-variant: normal
	-webkit-font-smoothing: antialiased;

a
	t all

#panel
	position fixed
	top 0
	left 0
	width 100%
	z-index 100

.container
	width 990px

svg
	t fill
	path, g
		t fill

.scroll-fix
	position fixed
	width 100%
	height 100%
	top 0
	left 0
	z-index 300000
	pointer-events none
	&--on
		pointer-events initial
