.header
    full-width()
    .gallery &
        padding-top 320px
        min-height 700px
        .container
            padding-left 470px
            img
                margin-bottom 35px
                margin-left -49px
    .contacts &
        padding-top 75px
        min-height 400px
        .container
            padding-left 470px
    .buy &, .reasons &
        padding-top 75px
        min-height 400px
        .container
            padding-left 500px
    .reasons &
        min-height 450px
    .index &
        min-height 700px
        display block
        padding-top 188px
        h4
            text-transform uppercase
            font-family 'BebasNeue'
            font-size 24px
            border-bottom 1px solid #273b74
            display inline-block
            padding-bottom 5px
            margin-bottom 12px
            & + img
                margin-left -58px
                margin-bottom 35px
        .container
            padding-left 480px
