.nav
    display: flex
    align-content: center
    justify-content: center
    color white
    text-transform uppercase
    font-family: 'GothamPro'

    &--modal
        position fixed
        width 100%
        z-index: 200
        right 0
        top 0
        height 100%
        background-color alpha(black, .8)
        flex-flow: column
        transform: translateX(100%)
        will-change transform
        align-items: center
        @extend .page__show-with-menu
        padding: 100px 20px 30px
        text-align center
        @media (min-width: scr_lg)
            text-align left
            padding: 60px 30px
            width 50%
            padding: 60px
        & ^[0]__item
            font-size 18px
            @media (min-width: scr_sm)
                font-size 30px
            @media (min-width: scr_lg)
                font-size 25px
            margin 10px 0
        .page--open &
            transform: translateX(0)
    &--index
        position absolute
        left 50%

        justify-content: center

        width: 100%
        flex-flow: column
        align-items: center;
        top 20px
        transform: translateX(-50%)
        @media (min-width: scr_sm)
            flex-flow: row
            flex-wrap: wrap
            max-height: 40px
            max-width: 1020px
            margin-top 20px
            top 0
            align-items: flex-start
        @media (min-width: scr_md)
            padding 0 60px
        @media (min-width: scr_lg)
            padding 0
            max-height: none
            justify-content: space-between
            flex-wrap: nowrap
        @extend .page__show-with-menu
        &:after
            @media (min-width: scr_md)
                content ""
                position absolute
                border-bottom: 1px solid alpha(white, .6)
                width 100%
                left 0
                bottom calc(50% + 10px)
            @media (min-width: scr_lg)
                bottom -11px
        & ^[0]__item
            position relative
            margin-bottom 20px
            font-size 15px
            @media (min-width: scr_sm)
                padding 0 10px
                font-size 13px
                &:first-of-type
                    padding-left 0
                &:last-of-type
                    padding-right 0
            @media (min-width: scr_md)
                font-size 14px
                padding 0 15px

    &__item
        font-weight bold
        text-transform uppercase
        color white

        &:hover, &--active
            color orange
    &__text
        align-self: center
        margin-right 15px
        @extend .page__hide-with-menu
        display none
        @media (min-width: scr_md)
            display block
    &__icon
        svg
            max-width: 30px
            @media (min-width: scr_sm)
                max-width: 40px
            @media (min-width: scr_md)
                max-width: 50px
            path
                transition: .3s transform, .3s fill, .3s opacity
                fill: white
                transform: rotate(0deg)
                will-change all
                .page--open &
                    fill: orange
                    &:nth-child(2)
                        transform: rotate(45deg) translateY(-7px)  translateX(6px)
                        transform-origin: top left
                    &:nth-child(1)
                        transform: rotate(-45deg) translateY(7px)  translateX(6px)
                        transform-origin: bottom left
                    &:nth-child(3)
                        opacity: 0
    &__frame
        display flex
        flex-flow: column
        border 10px solid orange
        min-height: 90%
        width 100%
        padding 20px 30px
        @media (min-width: scr_sm)
            padding 50px
            min-height: 80%
    &__close
        position absolute
        top 50px
        right 55px
        svg
            path
                fill orange
        &:hover
            path
                fill white
    &:hover, &:focus
        color orange
        & ^[0]__icon
            svg
                path
                    fill orange
