.partners
    display: flex
    flex-wrap: wrap
    align-items: center
    &__item
        text-align center
        margin 15px 0
        flex: 1 1 50%
        max-width: 50%
        @media (min-width: scr_sm)
            flex: 1 1 33.33333%
            max-width: 33.33333%
    &__image
        max-width: 80%
        max-height: 100px
