.partners
    display: flex
    flex-wrap: wrap
    align-items: center

    &__item
        width 50%
        text-align center
        margin 10px 0
        @media (min-width: scr_sm)
            width 30%
    &__image
        max-width: 80%
        max-height: 100px
