.slider
    .slick-arrow
        position absolute
        top 50%
        z-index 100
        size 22px 38px
        cursor pointer
        opacity: .5
        margin-top -19px
        transition: .3s opacity
        &.slick-next
            right 15px
        &.slick-prev
            left 15px
        &:hover
            opacity: 1
